@{
    ViewData["Title"] = "D&L, Все продукты";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="carousel.css" rel="stylesheet">
    <link href="~/css/AllProductsClient.css" rel="stylesheet">

</head>
<body>
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light header _anim-items _anim-no-hide">Лучшие товары для вас</h1>
                    <p class="lead text-muted underHeader _anim-items _anim-no-hide">
                        Лучшие цены на самые популярные бренды бытовой техники и смартфонов.
                        Сотруднчивество с мировыми брендами, такими как LG, Apple, Samsung.
                    </p>
                    <p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    @{
                        foreach (var product in Model)
                        {
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="img-thumbnail" src="@product.ProductImage" alt="@product.ProductName">
                                    <div class="card-body">
                                        <h2>@product.ProductName</h2>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="~/AllProducts/ProductPage/?id=@product.ProductId" class="btn btn-sm btn-outline-secondary">Перейти</a>
                                            </div>
                                            <small class="text-muted">@product.ProductPrice.ToString("c")</small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div id="mainDivPagesId" style="position:relative; margin-top:5%;">
                <div id="pagesDivId">
                    <a class="nav-link dropdown-toggle" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Страница</a>
                    <ul id="ulDropdownMenuIdPages" class="dropdown-menu" aria-labelledby="dropdown05">
                        @{
                            for (int i = 1; i <= ViewBag.PagesCount; i++)
                            {
                                <li><a class="dropdown-item" href="~/AllProducts/AllProducts/?id=@i">@i</a></li>
                            }
                        }
                    </ul>
                </div>
                @{
                    if (Convert.ToInt32(@Context.Request.Query["id"]) > 1
                        && Convert.ToInt32(@Context.Request.Query["id"]) != 0)
                    {
                        int id = Convert.ToInt32(@Context.Request.Query["id"]) - 1;
                        <div id="pagesPrevDivId">
                            <a style="color:black;" href="~/AllProducts/AllProducts/?id=@id" id="pagesPrev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </a>
                        </div>
                    }
                }
                @{
                    if (Convert.ToInt32(@Context.Request.Query["id"]) < ViewBag.PagesCount 
                        && Convert.ToInt32(@Context.Request.Query["id"]) != 0)
                    {
                        int id = Convert.ToInt32(@Context.Request.Query["id"]) + 1;
                        <div id="pagesNextDivId">
                            <a style="color:black;" href="~/AllProducts/AllProducts/?id=@id" id="pagesNext">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>
                        </div>
                    }
                }
            </div>

        </div>
    </main>
    <script src="~/js/AllProductsClient.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</html>