@{
    ViewData["Title"] = "D&L, Все продукты";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="carousel.css" rel="stylesheet">
</head>
<body>
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Лучшие товары для вас</h1>
                    <p class="lead text-muted">
                        Лучшие цены на самые популярные бренды бытовой техники и смартфонов.
                        Сотруднчивество с мировыми брендами, такими как LG, Apple, Samsung.
                    </p>
                    <p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">                
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    @{
                        foreach (var product in Model)
                        {
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="img-thumbnail" src="@product.ProductImage" alt="@product.ProductName">
                                    <div class="card-body">
                                        <h2>@product.ProductName</h2>
                                        <p class="card-text">@product.ProductDescription</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">@product.ProductPrice.ToString("c")</small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </main>
</body>
</html>